In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [2]:
data = pd.read_csv("Bank Marketing1.csv")
data

     age  balance  day  duration  campaign  pdays  previous deposit
0     30     1787   19        79         1     -1         0      no
1     33     4789   11       220         1    339         4      no
2     35     1350   16       185         1    330         1      no
3     30     1476    3       199         4     -1         0      no
4     59        0    5       226         1     -1         0      no
..   ...      ...  ...       ...       ...    ...       ...     ...
430   53      995    4       200         3     -1         0      no
431   29       20   12       418         1     -1         0      no
432   34      228   22       387         4     -1         0      no
433   43      130    5       156         1    337         3      no
434   56      217   21       121         2     -1         0      no

[435 rows x 8 columns]

# Data Cleaning

In [3]:
data.isna().sum()

age         0
balance     0
day         0
duration    0
campaign    0
pdays       0
previous    0
deposit     0
dtype: int64

# Statistics Description

In [4]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,435.000000,435.000000,435.000000,435.000000,435.000000,435.000000,435.000000
mean,40.972414,1469.197701,15.905747,273.921839,2.462069,44.418391,0.549425
std,10.555719,2453.561384,8.257818,267.561593,2.258687,102.750401,1.584551
min,20.000000,-1206.000000,1.000000,6.000000,1.000000,-1.000000,0.000000
25%,33.000000,107.500000,9.000000,109.000000,1.000000,-1.000000,0.000000
50%,39.000000,480.000000,16.000000,198.000000,2.000000,-1.000000,0.000000
75%,48.000000,1650.500000,21.000000,341.500000,3.000000,-1.000000,0.000000
max,78.000000,16873.000000,31.000000,1877.000000,24.000000,462.000000,20.000000

In [5]:
data.groupby("deposit").size()

deposit
no     380
yes     55
dtype: int64

# SVM Without Karnel (LINEAR)

In [6]:
#split data : feature (X) and class (Y)
x = data.values[:,0:7]
y = data.values[:,7]

In [7]:
#split data: train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
#Tuning Parameter: gamma, C, kernel
svm1 = svm.SVC(C = 1, gamma = 10, kernel = 'linear')
svm2 = svm.SVC(C = 1, gamma = 10, kernel = 'sigmoid')
svm3 = svm.SVC(C = 1, gamma = 10, kernel = 'poly')
svm4 = svm.SVC(C = 1, gamma = 10, kernel = 'rbf')
svm5 = svm.SVC(C = 100, gamma = 10, kernel = 'linear')
svm6 = svm.SVC(C = 100, gamma = 10, kernel = 'sigmoid')
svm7 = svm.SVC(C = 100, gamma = 10, kernel = 'poly')
svm8 = svm.SVC(C = 100, gamma = 10, kernel = 'rbf')
svm9 = svm.SVC(C = 1000, gamma = 10, kernel = 'linear')
svm10 = svm.SVC(C = 1000, gamma = 10, kernel = 'sigmoid')
svm11= svm.SVC(C = 1000, gamma = 10, kernel = 'poly')
svm12= svm.SVC(C = 1000, gamma = 10, kernel = 'rbf')

svm.fit1 = svm1.fit(x_train, y_train)
svm.fit2 = svm2.fit(x_train, y_train)
svm.fit3 = svm3.fit(x_train, y_train)
svm.fit4 = svm4.fit(x_train, y_train)
svm.fit5 = svm5.fit(x_train, y_train)
svm.fit6 = svm6.fit(x_train, y_train)
svm.fit7 = svm7.fit(x_train, y_train)
svm.fit8 = svm8.fit(x_train, y_train)
svm.fit9 = svm9.fit(x_train, y_train)
svm.fit10 = svm9.fit(x_train, y_train)
svm.fit11= svm9.fit(x_train, y_train)
svm.fit12 = svm9.fit(x_train, y_train)

y_pred_svm1 = svm1.predict(x_test)
y_pred_svm2 = svm2.predict(x_test)
y_pred_svm3 = svm3.predict(x_test)
y_pred_svm4 = svm4.predict(x_test)
y_pred_svm5 = svm5.predict(x_test)
y_pred_svm6 = svm6.predict(x_test)
y_pred_svm7 = svm7.predict(x_test)
y_pred_svm8 = svm8.predict(x_test)
y_pred_svm9 = svm9.predict(x_test)
y_pred_svm10 = svm9.predict(x_test)
y_pred_svm11 = svm9.predict(x_test)
y_pred_svm12 = svm9.predict(x_test)

ac1 = accuracy_score(y_test, y_pred_svm1)*100
ac2 = accuracy_score(y_test, y_pred_svm2)*100
ac3 = accuracy_score(y_test, y_pred_svm3)*100
ac4 = accuracy_score(y_test, y_pred_svm4)*100
ac5 = accuracy_score(y_test, y_pred_svm5)*100
ac6 = accuracy_score(y_test, y_pred_svm6)*100
ac7 = accuracy_score(y_test, y_pred_svm7)*100
ac8 = accuracy_score(y_test, y_pred_svm8)*100
ac9 = accuracy_score(y_test, y_pred_svm9)*100
ac10 = accuracy_score(y_test, y_pred_svm9)*100
ac11 = accuracy_score(y_test, y_pred_svm9)*100
ac12 = accuracy_score(y_test, y_pred_svm9)*100

In [ ]:
ac1,ac2,ac3,ac4,ac5,ac6,ac7,ac8,ac9,ac10,ac11,ac12